* {
    font-family: 'Open Sans', sans-serif;
}

.comment-style{
	box-sizing: border-box;
	width: 100%;
    margin-top: 20px;
	padding: 50px 60px 40px;
	overflow: hidden;
}


.comment-style .comment-right{
    display: flex;
    justify-content: center;
    align-items: center;
}


.comment-style form{
	display: inline-block;
}

.comment-style form input,
.comment-style form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #444;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.comment-style ::-webkit-input-placeholder {
	color:  #d1d2d2;
}

.comment-style ::-moz-placeholder {
	color:  #d1d2d2;
	opacity: 1;
}

.comment-style :-ms-input-placeholder{
	color:  #d1d2d2;
}


.comment-style form input{
	height: 55px;
	margin-bottom: 15px;
}

.comment-style form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.comment-style form button{
	border-radius: 3px;
	background-color:  #444;
	color: #d1d2d2;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
